@import url(./__container/popup__container.css);
@import url(./__close-icon/popup__close-icon.css);
@import url(./__title/popup__title.css);
@import url(./__input/popup__input.css);
@import url(./__save-button/popup__save-button.css);
@import url(./_active/popup_active.css);

.popup {
  display: none;
  min-width: 100%;
  background-color: rgba(00, 00, 00, .5);
  position: fixed;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
