@import url(./__container/popup__container.css);
@import url(./__close-icon/popup__close-icon.css);
@import url(./__title/popup__title.css);
@import url(./__input/popup__input.css);
@import url(./__input/_name/popup__input_name.css);
@import url(./__input/_prof/popup__input_prof.css);
@import url(./__save-button/popup__save-button.css);
@import url(./_active/popup_active.css);
@import url(./_edit_profile/popup_edit_profile.css);
@import url(./_add_photo/popup_add_photo.css);
@import url(./_open_photo/popup_open_photo.css);

.popup {
  min-width: 100%;
  min-height: 100vh;
  background-color: rgba(00, 00, 00, .5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  -moz-transition: all 0.7s;
}
