@import url(./__container/popup__container.css);
@import url(./__close-icon/popup__close-icon.css);
@import url(./__title/popup__title.css);
@import url(./__input/popup__input.css);
@import url(./__save-button/popup__save-button.css);
@import url(./_active/popup_active.css);

.popup {
  min-width: 100%;
  min-height: 100vh;
  background-color: rgba(00, 00, 00, .5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}
