.element__title {
  background-color: #FFFFFF;
  border-radius: 0 0 20px 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 282px;
  max-width: 282px;
}
