@import url(../header/__logo/header__logo.css);

.header {
  display: flex;
  width: calc(100% * 882/1280);
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 45px 0 36.25px;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .header {
    width: 100%;
    margin: 28px 0 36.25px;
  }
}
