.profile__add-button {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  width: calc(100% * 150/882);
  height: 50px;
  background-color: transparent;
  color: white;
  padding: 0;
  background-image: url(../../../images/profile__add-button-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}
