.popup-photo__close {
  position: absolute;
  top: -42px;
  right: -42px;
  border: none;
  outline: none;
  background-image: url(../../../images/popup__close-icon.svg);
  padding-bottom: 40px;
  width: 40px;
  background-position: center;
  background-color: transparent;
}
