.popup__close-icon {
  position: absolute;
  top: 379px;
  right: 384px;
  border: none;
  outline: none;
  background-image: url(../../../images/popup__close-icon.svg);
  padding-bottom: 40px;
  width: 40px;
  background-position: center;
  background-color: transparent;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .popup__close-icon {
    top: 47px;
    right: 15px;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2200px) {
  .popup__close-icon {
    top: 256px;
    right: 696px;
  }
}
