.popup__active {
  /* display: none; */
  min-width: 100%;
  background-color: rgba(00, 00, 00, .5);
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
